#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, stored and managed in a structured format to enable efficient retrieval, modification, and querying of data. It is an essential part of modern software development and is used to store and manage various types of data, including financial records, inventory data, customer information, and much more.



The main differences between SQL and NoSQL databases can be summarized as follows:

* Data structure: SQL databases store data in a tabular format with fixed columns, while NoSQL databases use flexible data structures, including documents, key-value pairs, and graph structures.

* Schema: SQL databases use a schema to define the structure of the data, while NoSQL databases do not have a fixed schema, and the data structure can be changed at any time.

* Query language: SQL databases use SQL as a query language for managing and querying data, while NoSQL databases use their own query language, which may be based on JSON or other formats.

* Scalability: NoSQL databases are more scalable than SQL databases and can handle large amounts of data and traffic more efficiently.

* Use cases: SQL databases are well-suited for applications that require complex queries and transactions, while NoSQL databases are better suited for applications that require scalability, performance, and flexibility.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a sub-language used in SQL to define and manage the structure of a database. DDL commands are used to create, alter, and drop database objects such as tables, indexes, and views.

Here are the explanations of the mentioned DDL commands:

* CREATE: This command is used to create a new object in the database, such as a table or an index. For example, the following SQL command creates a new table named "employees" with three columns:<br>
    
    CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
    );
    <br>
* DROP: This command is used to delete an existing object from the database. For example, the following SQL command drops the "employees" table:<br>

    DROP TABLE employees;
    <br>
* ALTER: This command is used to modify the structure of an existing object in the database, such as adding or removing columns from a table. For example, the following SQL command adds a new column "salary" to the "employees" table:

    ALTER TABLE employees
    ADD COLUMN salary FLOAT;
    <br>
* TRUNCATE: This command is used to remove all the data from a table, while keeping the table structure intact. For example, the following SQL command removes all the data from the "employees" table:

    TRUNCATE TABLE employees;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a sub-language used in SQL to manipulate the data stored in a database. DML commands are used to insert, update, and delete data in tables.

Here are the explanations of the mentioned DML commands:

* INSERT: This command is used to insert new data into a table. For example, the following SQL command inserts a new row into the "employees" table:<br>

    INSERT INTO employees (id, name, age, salary)
    VALUES (1, 'John Doe', 30, 50000.00);
    <br>
* UPDATE: This command is used to modify existing data in a table. For example, the following SQL command updates the "salary" of the employee with ID 1 in the "employees" table:<br>

    UPDATE employees SET salary = 55000.00 WHERE id = 1;
    <br>
* DELETE: This command is used to delete existing data from a table. For example, the following SQL command deletes the employee with ID 1 from the "employees" table:<br>

    DELETE FROM employees WHERE id = 1;

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a sub-language used in SQL to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database.

Here is an example of using the SELECT command to retrieve data from a table named "employees":

<br>
    SELECT id, name, age, salary
    FROM employees
    WHERE age > 30;
    <br>
    
This command will retrieve the "id", "name", "age", and "salary" columns from the "employees" table where the "age" column is greater than 30. The data is returned in a result set, which can be further processed or displayed as needed.

#### Q5. Explain Primary Key and Foreign Key.

A primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to ensure that each row in the table is unique and can be used as a reference to other tables. A primary key can be a single column or a combination of columns, and it cannot contain null values. Common examples of primary keys include employee IDs, customer IDs, and order IDs.

A foreign key, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between the two tables and enforce referential integrity. A foreign key can be a single column or a combination of columns, and it can contain null values if the relationship is optional. Common examples of foreign keys include order IDs in a table of order details, or customer IDs in a table of customer orders.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="<HOST ID>",
  user="<USERNAME>",
  password="<PASSWORD>"
)
mycursor = mydb.cursor()
mycursor.execute("<SQL QUERY>")

The cursor() method creates a cursor object, which is used to execute SQL statements and fetch results. The cursor object acts as a handle for the SQL query, allowing you to execute the query and obtain the results. The cursor() method is called on the database connection object to create a cursor.

The execute() method is used to execute an SQL statement or query. It takes an SQL statement as a parameter and returns a cursor object. The cursor object can then be used to fetch the results of the query. The execute() method is called on the cursor object, which was created using the cursor() method.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

* FROM: This clause specifies the table or tables from which to retrieve the data.

* JOIN: This clause is used to combine rows from two or more tables based on a related column between them.

* WHERE: This clause is used to filter the data based on a specific condition.

* GROUP BY: This clause is used to group the data based on one or more columns.

* HAVING: This clause is used to filter the data based on a specific condition after the data has been grouped.

* SELECT: This clause is used to select the columns to retrieve from the table(s).
 
* DISTINCT: This clause is used to remove duplicate rows from the result set.

* ORDER BY: This clause is used to sort the data in ascending or descending order.

* LIMIT: This clause is used to limit the number of rows returned by the query.